In [ ]:
 course = input()
topic = input()

if course == 'Python':
    if topic == 'Data Science':
        print('Yes Data science is avilable in python course')
        
    elif topic == 'Data Analyst':
        print('Yes Data Analyst is avilable in python course')
        
    else:
        print('Tthis topic is not avilable in python')
        
elif course == 'Java':
    if topic == 'Front End':
        
        print('Yes Front End is avilable in Java course')
              
    elif topic == 'Back End':
        
        print('Yes Back End is avilable in Java course')
        
else:
    print('Plese select Valid course')

# For Loop

In [3]:
range(0,10)

range(0, 10)

In [5]:
l = [1,2,3,4,5]

In [6]:
for i in l:
    print(i)

1
2
3
4
5

In [7]:
j = range(0,10)

In [8]:
for element in j:
    print(element)

0
1
2
3
4
5
6
7
8
9

In [13]:
for numbers in range(2,21,2):
    print(numbers)

2
4
6
8
10
12
14
16
18
20

In [15]:
for numbers in range(2,21,2):
    print(105)

105
105
105
105
105
105
105
105
105
105

In [16]:
for i in 'Data':
    print(i)

D
a
t
a

In [17]:
j = (12,13,14,15,16)

In [18]:
for i in j:
    print(i)

12
13
14
15
16

In [28]:
for i in range(len(j)):
    print('*')

*
*
*
*
*

In [29]:
l = [10,20,30,40,50]

In [31]:
for i in l:
    print(i + 5)

15
25
35
45
55

In [32]:
l = [1,1.5,'Data', 10+6j, True,12,12.5,2]

In [33]:
for i in l:
    if type(i) == int:
        print(i)

1
12
2