In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Data@8180')

In [3]:
mydb

In [4]:
 cursor = mydb.cursor()

In [5]:
cursor

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('council1',),
 ('datacouncil10',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [13]:
cursor

In [14]:
cursor.execute('create database Datacouncil10 ')

In [15]:
cursor.execute('create table Datacouncil10.students(s_id INT(10), firstname VARCHAR(30), lastname VARCHAR(30), reg_id INT(10), classname VARCHAR(30))')

In [8]:
cursor.execute('use Datacouncil10')

In [9]:
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('students',)]

In [11]:
cursor.execute('insert into Datacouncil10.students values(3423, "Vaibhav", "Bhosale",2004, "Data Analysis")')

In [12]:
mydb.commit()

In [13]:
cursor.execute('select * from Datacouncil10.students')

In [14]:
cursor.fetchall()

[(3423, 'Vaibhav', 'Bhosale', 2004, 'Data Analysis')]

In [15]:
cursor.execute('insert into Datacouncil10.students values(3454, "Mahendra", "Dhoni",3453, "Cricket")')
cursor.execute('insert into Datacouncil10.students values(3426, "Sachin", "Tendulkar",2653, "Cricket")')
cursor.execute('insert into Datacouncil10.students values(3443, "Virat", "Kohli",2986, "Cricket")')
cursor.execute('insert into Datacouncil10.students values(3476, "Sania", "Mirza",5654, "Tennis")')
cursor.execute('insert into Datacouncil10.students values(3423, "Vivek", "Bindra",2873, "Chess")')

In [16]:
mydb.commit()

In [23]:
cursor.execute('select * from Datacouncil10.students')

In [29]:
import pandas as pd

In [24]:
df = cursor.fetchall()

In [28]:
pd.DataFrame(df)

      0         1          2     3              4
0  3423   Vaibhav    Bhosale  2004  Data Analysis
1  3454  Mahendra      Dhoni  3453        Cricket
2  3426    Sachin  Tendulkar  2653        Cricket
3  3443     Virat      Kohli  2986        Cricket
4  3476     Sania      Mirza  5654         Tennis
5  3423     Vivek     Bindra  2873          Chess

In [30]:
d1 = pd.DataFrame(df)

In [32]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      int64
 1   1       6 non-null      object
 2   2       6 non-null      object
 3   3       6 non-null      int64
 4   4       6 non-null      object
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes

In [33]:
d1[1]

0     Vaibhav
1    Mahendra
2      Sachin
3       Virat
4       Sania
5       Vivek
Name: 1, dtype: object

In [34]:
cursor.execute('create table Datacouncil10.glassdata(col1 INT(10), col2 float(10,5),col3 float(10,5),col4 float(10,5), col5 float(10,5), col6 float(10,5), col7 float(10,5), col8 float(10,5), col9 float(10,5), col10 float(10,5), col11 INT(10))')

In [35]:
cursor.execute('use Datacouncil10')

In [36]:
cursor.execute('show tables')

In [37]:
cursor.fetchall()

[('glassdata',), ('students',)]